body{
    background-image: url(../img/paisaje.png);
    background-repeat: no-repeat;
    background-size: cover;

}

#info{
   
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgba(119, 19, 165, 0.26);
    color: white;
}

h3{

    height: 30px;
    margin-top: 35px;
    margin-left: 30px;
}

footer{
    text-align: center;
    color: white;
    font-size: 22px;
    
}